<h1>interpolação</h1>

<p>String com interpolação: {{ url }}</p>
<p>1+1 = {{1+1}}</p>

<h1>Property Binding</h1>

<img [src]="urlImagem">
<img bind-src="urlImagem">


<h2>Event binding</h2>

<input type="text" (keyup)="onKeyUp($event)" (keyup.enter)="armazenarValor(campoInput.value)" (blur)="armazenarValor(campoInput.value)"
    class="form-control" #campoInput>

<p>valor atual:{{ valorAtual }}</p>
<p>valor armazenado:{{ valorArmazenado }}</p>

<br>

<span (mouseover)="onMouseOver()" (mouseout)="onMouseOut()" [class.highlight]="isMouseOver">Passa o mouse</span>

<p>{{isMouseOver}}</p>

<br>

<div *ngIf="showMessage" [class]="valorCSS" role="alert">
    Messagem pra voce!
</div>
<button (click)="changeShowMessage()"class="btn btn-primary" >
    show Message
</button>

<br>
<br>

<input type="text" (keyup.enter)="mudarValor(campoInputAlert.value)"
class="form-control" #campoInputAlert>

